{% extends 'base.html' %}
{% block title %}Inicio APP{% endblock %}
{% block content %}
<h1>¡Bienvenidxs a mi proyecto!</h1>
<p>
    <!-- lorem*10 -->
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sapiente temporibus enim ipsa laboriosam fugit, quisquam corporis magni cum aut. Dolor quaerat eaque earum harum nihil eveniet nulla iste quas?
    Et rem nam unde modi velit. Ipsum vel quas tenetur quam unde eos eaque consequatur impedit esse corporis, ipsa, nostrum natus cumque enim! Sed excepturi saepe accusamus sint nulla quas!
    Animi, accusantium nisi aliquid accusamus alias voluptas officia in voluptates molestiae blanditiis vel ex iste libero impedit cum quam nesciunt atque. Eveniet ipsam ipsum quas! Accusamus eius sint id facere?
    Veniam nobis, debitis possimus sed adipisci unde minus consequatur ratione fuga eum architecto similique obcaecati rerum quam est, mollitia, officia id ab iste porro atque aperiam quidem. Omnis, ipsa voluptatibus?
    Nihil porro eveniet voluptate consequatur rem, distinctio aperiam, incidunt maxime ducimus eligendi autem natus sit recusandae velit! Itaque ea repellendus ipsa soluta non officia, magnam sunt error odio, culpa debitis.
    Illo tempore autem doloribus ad quaerat dolore quidem rem adipisci? Dolor reprehenderit, autem soluta ut maiores voluptatem sint dolore at aliquam, sequi nam doloribus aperiam optio cumque in exercitationem iure?
    Quaerat soluta provident, cupiditate officia nostrum esse laudantium voluptas rerum harum dolores, eligendi aliquam. Porro ullam odio excepturi pariatur itaque natus voluptate, suscipit iusto ea ipsam perferendis, ipsa deleniti quos?
    Atque alias soluta iure nam accusamus fugit vero tempora error, necessitatibus maiores ducimus, doloremque ipsa repellat explicabo adipisci corporis molestias consequatur doloribus! Voluptates commodi veritatis beatae incidunt amet nemo numquam.
    Unde ratione voluptatum quibusdam aliquam doloribus sint nihil ullam voluptatem asperiores quaerat in animi nisi molestiae totam non exercitationem odit, quos iste nemo dolores harum tenetur nulla. Voluptatum, eaque molestias?
    Praesentium qui quidem iste minus, facere consequuntur veritatis neque rem debitis. Repellendus veniam reiciendis ad itaque non consequatur voluptate, eos earum tempora iusto expedita voluptatum placeat tenetur vero facilis nam!
</p>
{% endblock %}